<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>NoteChat</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static '/assets/css/style.css' %}" rel="stylesheet">

  </head>

  <body>
    <div style="padding-left: 0;height:1000px" class="container-fluid">
      <div style="padding-left: 50px;" class="row headbar">
        <div class="col-md-3 text-center" >
          <img style="top:50%; height:40px"src="{% static 'media/siteicon3.png' %}" alt="not here">
        </div>

      </div>
      <br>


      {% block content %}

      {% endblock %}
    </div>







  </body>
</html>
