.headbar{
  background-color: #7700b3;
  color: white;
  border: 1px solid black
}

.btn-group{
  display: inline;
}
.footer{
  position: relative;
  left:0;
  right:0;
  bottom: 0;
  width: 100%;
  color:white;
  background-color:#a6a6a6;
}
.vcenter{
  display: flex;
  vertical-align: middle
}

.message{
  height: 30px;
  padding-top: 8px;
  padding-bot: 8px;
  margin-left: 1%;
}

.btn-friend-spacing{
    float:right;
    margin-right: 5px;
}

.no-padding{
  padding-left:0 !important;
}

.searchbar{
  color: black;
  height:30px;
  width: 90%;
  margin-right: 1px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.searchbutton{
  color: black;
  position: absolute;
  margin-top: 5px;
  margin-bottom: 5px;
  height:30px;
}
body{
  background-color: #f2f2f2;
}

html,body {height:100%; }


.settingsinput{
    float: right;
    margin-right: 15px;
}

.navbar-left{
  height:50%;
  background-color: #e9e9e9;
  border: 3px solid white;
}

.fullcard{
  height:50%;
  left:1%;
  border: 1px solid black;
}

.card-header{
  color: white;
  background-color: #bf80ff;
  border: 1px solid black;
}

.center-div{
  text-align: center;
}
.card-body{
  border: 1px solid #990099;
  padding-left: 0;
  padding-right: 8%;
}

.card-footer{
  border: 1px solid #4d004d;
  background-color: #f9ecf2;
}

.padding-0{
  padding: 0 0 0 0;
  padding-top: 0;
  padding-bottom: 0;
}

.clickable-card{
  height: 100%; width: 100%;
  text-decoration:none;
  color:black;
}
