{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="col-md-12 col-md-6 offset-md-6">
    <h4>Home Page</h4>
    <p>This is not part of the program:</p>
    <p> Future Project Ideas</p>
    <ul>
      <li>Create a chrome extension that will keep reminders/take notes</li>
      <li>Use API to make it easier to find anime</li>
      <li>Find an interesting open source project</li>
      <li>Build an API wrapper</li>
      <li>Build a command line utility(?)</li>
      <li>Create a Reddit Bot</li>
      <li>Build an android app to notify me</li>
      <li>Create a website to show my personal projects</li>
    </ul>
  </div>

</div>
<div class="container">
  <div class="row">

    {% for note in user_notes%}
    <div class="container col-md-4">
      <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
          <p> {{note.description}} </p>
          <p> By: {{user}}</p>
        </div>
      </div>
    </div>
    {% endfor %}

    {% for user in friends_notes %}
      {% for note in user%}
      <div class="container col-md-4">
          <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
              <p> {{note.description}} </p>
              <p> {{note.user}}</p>
          </div>
          </div>
      </div>
      {%endfor%}
    {% endfor %}
  </div>
</div>
{% endblock %}
