{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">



    <div style="margin-left:20px" class="col-md-7">
      <div class="row">
        <h2 class="btn-group"> {{targetuser.username}} </h2>
          {% if not targetuser.username == user.username %}
        <button type="button" class="btn btn-sm btn-primary"> Send a friend request </button>
          {% endif %}
      </div>

    </div>

  <div class="col-md-6 offset-md-6">
    <div class="card center-div">
      <div style="height:40px" class="card-header">
        <p>Bio:</p>
      </div>
      <div class="card-body center-div">
        <ul>
          <p>{{targetuser.profile.description}}</p>

        </ul>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}
