{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">



    <div style="margin-left:20px" class="col-md-7">
      <div class="row">
        <h2 class="btn-group"> {{targetuser.username}} </h2>
          {% if not targetuser.username == user.username %}

            {% if is_friend  %}
              <form action='/remove_friend/{{targetuser.id}}' method="POST">
                {% csrf_token %}
              <button type="button" class="btn btn-info btn-sm">Friends</button>
              <input type="submit" class="btn btn-sm btn-danger" value="Remove Friend">
              </form>
            {% else %}
              <form action='/add_friend/{{targetuser.id}}' method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-sm btn-primary" value="Send a friend request">
              </form>

            {% endif %}
          {% endif %}
      </div>

    </div>

  <div class="col-md-6 offset-md-6">
    <div class="card center-div">
      <div style="height:40px" class="card-header">
        <p>Bio:</p>
      </div>
      <div class="card-body center-div">
        <ul>
          <p>{{targetuser.profile.description}}</p>

        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">

  <div class="card">
    <div class="card-header center-div">
      <h5>Notes</h5>
    </div>
    {% for note in notes %}
    {% if note.privacy == 'PUBLIC' or note.privacy == 'FRIEND' %}
    <div class="card-body">
      <a style="text-decoration:none"class="clickable-card" href="/settings">
        <br>
      <ul>
        {{note.description}}
        <hr>
        <p>Tags: {{note.tags_list}}</p>
        </p>
      </ul>
      </a>
    </div>
    {% endif %}
    {% endfor %}
   </div>
 </div>

  </div>

</div>
{% endblock %}
